.background {
  background-color: #2e2d4c;
  background-image: url("./background-foods-v4.png");
  background-attachment: fixed;
  margin-bottom: auto;
}

.conteudo {
  line-height: 3rem;
  width: 72%;
  margin: 120px 0px 0px 200px;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
}

.cabecalho {
  text-align: center;
  color: #fff;
  margin: auto;
  padding: 40px;
  /* margin-bottom: 20%; */
  /* clip-path: inset(0);
  position:sticky; */
}

.logo img {
  width: 220px;
  padding-top: 10%;
}

.navigation li {
  display: inline-block;
  width: 150px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.navigation li a:link,
.navigation li a:visited {
  color: gray;
  text-decoration: none;
}

.navigation li a:hover {
  color: #494848;
  text-decoration: underline;
}

.navigation li a:active {
  color: #100d66;
  text-decoration: underline;
}

.avatar {
  float: left;
  width: 140px;
  padding: 20px;
}

.fonte--media {
  font-size: 1.7rem;
}

.titulo {
  font-size: 1.9rem;
  margin-top: 50px;
}

.habilidades label {
  width: 280px;
  display: inline-block;
}

.fotos img {
  width: 460px;
  height: 300px;
  border-radius: 8px;
  filter: grayscale(0.6);
}

.fotos img:hover {
  filter: none;
}

.btn-inicio > a {
  font-size: 3rem;
  background-color: white;
  border-radius: 50%;
  color: #100d66;
  position: fixed;
  bottom: 60px;
  right: 20px;
  opacity: 0.8;
}

.footer {
  position: relative;
  padding: 120px;
  color: white;
  text-align: center;
  font-size: 20px;
}
/* .logo > img {
  position: fixed;
  top: 0%;
  left: 44%;
} */

.logotipo {
  color: black;
  position: absolute;
  right: 50%;
  z-index: 1;
  transform: translate(50%);
  font-size: 1.8rem;
  padding-top: 20px;
}

.logomarca.fundo {
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 50%;
  margin-top: -50px;
  transform: translate(50%) rotate(45deg);
}
